html
	head
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
		link(rel="stylesheet", href="../src/app.css")
		link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,300")



	body
		.wrapper
			#sidebar-wrapper
				ul.sidebar-nav
					li.sidebar-brand
						a(href="#") Testing



	script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
	script(src="//code.jquery.com/jquery-1.11.2.min.js")